<div class="navbar-container">
  <div class="navigation">
    <ul>
      <li class="list <%= title === 'Home Page' ? 'active' : '' %>">
        <a href="/">
          <span class="icon"
            ><img src="uploads/icons/home-outline.svg" alt="Homepage"
          /></span>
          <span class="text">Homepage</span>
        </a>
      </li>
      <li class="list <%= title === 'Explore' ? 'active' : '' %>">
        <a href="/posts/all">
          <span class="icon"
            ><img src="uploads/icons/compass.svg" alt="Explore"
          /></span>
          <span class="text">Explore</span>
        </a>
      </li>
      <li class="list <%= title === 'Create' ? 'active' : '' %>">
        <a href="/posts/new">
          <span class="icon"
            ><img src="uploads/icons/clipboard.svg" alt="Create"
          /></span>
          <span class="text">Create</span>
        </a>
      </li>
      <li class="list <%= title === 'Profile' ? 'active' : '' %>">
        <a href="#">
          <span class="icon"
            ><img src="uploads/icons/person.svg" alt="Profile"
          /></span>
          <span class="text">Profile</span>
        </a>
      </li>
      <li class="list <%= title === 'Settings' ? 'active' : '' %>">
        <a href="#">
          <span class="icon"
            ><img src="uploads/icons/settings-outline.svg" alt="Settings"
          /></span>
          <span class="text">Settings</span>
        </a>
      </li>
      <div class="indicator"></div>
    </ul>
  </div>
</div>
